@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rosarivo", serif;
  font-weight: 750;
  font-style: normal;
}

.learn {
  margin-bottom: 1rem;
}
.wrapper {
  /* Mau nyoba nested Grid */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto, 100px);

  /* nanti grid itemnya dinamain sesuai template ini. ini tuh previewnya */
  /* kenapa ada 6 kolom? karena di template-column nya pae repeat 6 */
  grid-template-areas:
    "hd hd hd hd hd hd" /* atas */
    "mn mn mn mn sb sb" /* isi */
    "mn2 mn2 mn2 mn2 sb sb" /* isi */
    "ft ft ft ft ft ft"; /* bawah */
  /* udah kaya variable aja, jadi nanti si hd, mn, m2, ft, ini kita assign ke elemen yg kita mau */
  /* itu udah kaya placement item nya gitu */
  column-gap: 0.5rem;
}

.el {
  display: grid;
  background-color: rebeccapurple;
  color: white;
  place-content: center;
}

.header {
  grid-area: hd; /* karena kita mau header ada di atas, maka kita assign dia ke hd, karena di templatenya juga diatas*/
}
.sidebar {
  grid-area: sb; /* karena kita mau sidebar ada di samping, maka kita assign dia ke sb, karena di templatenya juga di samping*/
  background-color: darkblue;
}
.footer {
  grid-area: ft; /* karena kita mau footer ada di bawah, maka kita assign dia ke ft, karena di templatenya juga di bawah*/
}

.container {
  grid-area: mn;
  display: grid;
  /* udah kaya bikin matriks, 1fr (1 fraction) satuan khusus grid */
  /* grid-template-columns: 1fr; */ /* Bakal ada 1 kolom */
  /* grid-template-columns: 1fr 2fr; */ /* Bakal ada 2 kolom */ /* misal: kolom 1(20px) kolom 2(40px), jadi kek akan berapa kali lebih besar gitu */
  /* grid-template-columns: 1fr 2fr 1fr; */ /* Bakal ada 3 kolom, you get the idea */
  /* grid-template-columns: repeat(2, 1fr); */ /* repeat 2 kolom yang size nya 1=1 */
  grid-template-columns: repeat(
    3,
    1fr 2fr
  ); /* repeat kolom 2 kali yg mana hasilnya: "(-)(--)(-)(--)(-)(--)" kalo gak cukup baru kebawah, dengan pola yang sama you get the idea */
  grid-auto-rows: minmax(150px, auto); /* kaya min-max-height aja si */
  /* grid-auto-columns: minmax(150px, auto); */ /* kaya min-max-width aja si, tapi kalo udah pake template ngapain pake ini kan? */
  /* row-gap: 10px; */ /* margin antara grid item (atas-bawah) */
  /* column-gap: 10px; */ /* margin antara grid item (kiri-kanan) */
  gap: 10px; /* margin antara grif item (semua) argument nya adalah gap: row column */
}

.box {
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

.margin {
  margin-top: 1rem;
}

.container_second {
  grid-area: mn2;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 10px;
}

.box_second {
  background-color: gray;
  color: white;
  font-size: 1.5rem;
}

.box_second:first-child {
  background-color: blue;
  grid-column: 1/4; /* dimulai dari 1 sampai 4 horizontal */
  grid-row: 1/3; /* dimulai dari 1 sampai 3 vertical */
  display: grid;
  /* align-content: center; */ /* isi grid vertical */
  /* justify-content: center; */ /*isi grid horizontal, bisa dipakai kalo display: flex/grid */
  place-content: center; /* shorthand align-content dan justify-content, 1 argument berarti semuanya */
}

.box_second:nth-child(2) {
  background-color: purple;
  grid-column: 1/5; /* dimulai dari 2 sampai 5 horizontal */
  grid-row: 3/4; /* dimulai dari 1 sampai 3 vertical */
}
